.aspect-square {
  display: none !important;
}

.bg-ui-bg-base {
  background-image: url("/carova-logo.png") !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
